/*DECLARAÇÃO DAS VARIÁVEIS DE FONTE*/
@font-face {
    font-family: "sacramento";
    src: url(./font/Sacramento.ttf);
}

@font-face {
    font-family: "montserrat";
    src: url(./font/Montserrat.ttf);
}

@font-face {
    font-family: "pinyon";
    src: url(./font/Pinyon.ttf);
}

@font-face {
    font-family: "oswald";
    src: url(./font/Oswald.ttf);
}

@font-face {
    font-family: "yeseva";
    src: url(./font/Yeseva.ttf);
}

/*DECLARAÇÃO DAS VARIÁVEIS DE CORES*/
:root {
    --primary-color: #247ba0;
    --second-color: #70c1b3;
    --tertiary-color: #b2dbbf;
    --background: #f3ffbd;
    --color-spotlight: #ff1654;

    /*--primary-color: #eae8ff;
    --second-color: #d8d5db;
    --tertiary-color: #adacb5;
    --background: #2d3142;
    --color-spotlight: #b0d7ff;*/
}

/*RETIRANDO O MARGIN E PADDING PADRÃO*/
html,
body {
    margin: 0;
    padding: 0;
    font-family: oswald;
    background-image: url(./img/fundo1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
