/* Style's Navbar */
#navMenu > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: darkslategray;
}

#navMenu > span:not(:last-child) {
    margin-bottom: 7px;
}

#navMenu,
#navMenu > span {
    transition: all .4s ease-in-out;
}
/* End Style's Navbar */

/* Adding Class Active*/
#navMenu.active {
    transition-delay: 0.1s;
    transform: rotate(45deg);
}

#navMenu.active > span:nth-child(2) {
    width: 0;
}

#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
    transition-delay: .4s;
}

#navMenu.active > span:nth-child(1) {
    transform: translateY(9px);
}

#navMenu.active > span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}
/* End of Adding Class Active*/

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--tertiary-color);
    padding: 5px 3%;
}
.navbar a {
    text-decoration: none;
    color: inherit;
}
.logo {
    margin-right: 50px;
}
.list {
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar label {
    display: none;
}

@media screen and
(max-width: 600px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}

.imgLogo {
    width: 100px;
}
